*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #F6F8F9;
}
header{
    background-color: white;
}
.header-formatting{
    padding: 10px 20px;
}
.vertical-allignment{
    vertical-align: middle;
}
h1{
    display: inline-block;
}
.main-container{
    background-color: white;
    width: 70%;
    margin: 50px auto;
    border-radius: 8px;
}
.content-container{
    width: 90%;
    margin:auto;
}
.button-positioning{
    padding: 13px 0;
}
.button-sizing{
    width: 90px;
    height: 30px;
    border-radius: 5px;
}
#button-task{
    background-color:#47ADF1;
    color: white;
    border: 2px solid #47ADF1;
}
#button-section{
    background-color: white;
    color: #C5CBD0;
    border: 2px solid #C5CBD0;
}
.bottom-divider{
    border-bottom: 2px solid #F6F8F9;
}
.tasks-container{
    margin: 30px 0;
}
li{
    list-style: none;
}
.arrow-formatting{
    color: #51555D;
    display: inline-block;
    vertical-align: middle;
}
.title-formatting{
    font-weight: bold;
    font-size: 23px;
    color: #51555D;
    display: inline-block;
}
.plain-text-formatting{
    margin-top: 20px;
}
.checkbox-formatting{    
    color:lightgreen;
    border: 2px solid lightgreen;
}
.symbol-container{
    display: inline-block;
    height: 22px;
    width: 22px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    font-size: 15px;
    /*not sure if this line-height is working properly*/
    line-height: 22px;
    font-weight: bold;
}
.task-description{
    display: inline-block;
    vertical-align: middle;
}
.box-shape{    
    width: 60px;
    height: 25px;
    line-height:25px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    color: white;
}
.editorial{
    background-color: #47ADF1;
}
.Q1-Goals{
    background-color: #9C72E4;
}
.Recruiting{
    background-color:#64C0A9;
}
.cross-formatting{
    color:red;
    border: 2px solid red;
}
.Mobile{
    background-color: #F29E33;
}
.footer-formatting{
    padding-bottom: 30px;
}
.website{
    background-color: #D863A1;
}
.sales{
    background-color: #B0C926;
}